    * { margin: 0;}

#page-container {
    position: relative;
    min-height: 1500px;

}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footbar {

    position:absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

body{
    background-color: black;
    color : white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav{
    background-color: rgb(139, 236, 27);
    color:rgb(2, 14, 2);
    font-size: 32px;
    
    

}

.nav ul {

    margin:0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

.nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 2px solid rgb(36, 117, 3);
    transition: background-color 1s;
}

.nav ul li:hover {
    background-color: rgb(236, 235, 222);
    color: black
}

.image-area {
    background-image:url("images/IMG_0168-720x503.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
}
.centered-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
}

.image-text {
    text-align: center;
    background-color: rgb(26, 5, 5);
    color:rgb(229, 231, 224);
    font-size: 20;

}
    

.intro-text {
    background-color: rgb(139, 236, 27);
    color: rgb(32, 5, 5);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.intro-text:hover {
    background-color: black;
    color:rgb(255, 255, 255);
}

.single-service {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.picsize{
max-height: 250px;
max-width: 400px;
width:100%;
height:100%;
}

.single-service p {
    padding: 0px 16px;
    margin-top: 30px;
    color:aquamarine;
}

#button{
    width: 300px;
    height: 50px;
    border-width: 4px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: bold;
    color: cyan ;
    cursor: pointer;
}

#button :active{
    font-size: 23px;
    
}




@media screen and (min-width: 728px){
    .nav ul {
        text-align: center;
    }

    .nav ul li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid rgb(19, 20, 19);
        border-right: 1px solid rgb(19, 20, 19);
        

    }

    .single-service {
        width: 50%;
        float: left;
    }
}

.image-area {
    background-image:url("images/IMG_0168-720x503.jpg");
    background-position: center center;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
      


